[package]
name = "tch"
version = "0.1.0"
authors = ["Laurent Mazare <lmazare@gmail.com>"]
edition = "2018"

description = "Rust wrappers for the PyTorch C++ api (libtorch)."
repository = "https://github.com/LaurentMazare/tch-rs"
keywords = ["pytorch", "deep-learning", "machine-learning"]
categories = ["science"]
license = "MIT/Apache-2.0"
readme = "README.md"

[dependencies]
failure = "0.1"
lazy_static = "1.3.0"
libc = "0.2.0"
rand = "0.6.5"
torch-sys = { version = "0.1.0", path = "torch-sys" }
zip = "0.5"

cpython = { version = "0.2.0", optional = true }

[features]
python = ["cpython"]

[[example]]
name = "reinforcement-learning"
required-features = ["python"]
